doctype html
html
  head
    title Editar Producto
  body
    h1 Editar producto
    form(action="/productos/" + productos._id + "/editar" method="POST")
      label(for="precio") Precio:
      input(type="number" name="precio" value=productos.precio required)
      br
      label(for="stock") Stock:
      input(type="number" name="stock" value=productos.stock required)
      br
      label(for="categoria") Categoría:
      input(type="text" name="categoria" value=productos.categoria required)
      br
      button(type="submit") Guardar cambios
    hr
    a(href="/productos") Volver a la gestión de productos
    hr