doctype html
html
  head
    title Editar Contraseña
  body
    h1 Editar contraseña
      h2
      form(action="/usuarios/" + usuarios._id + "/editar" method="POST")
        label Usuario:
        input(type="text" name="username" value=usuarios.username redonly)
        br
        label Contraseña:
        input(type="password" name="password" required)
        br
        label Rol:
        input(type="rol" name="rol" value=usuarios.rol readonly)
        br
        button(type="submit") Guardar cambios
      hr
      a(href="/usuarios") Volver Gestion de Usuarios
      hr