doctype html
html
  head
    title 
    h1 Menú de opciones
  body
    h2 Seleccionar un enlace
    ul
      li: a(href="/productos") Gestión de productos
      li: a(href="/turnos") Gestión de turnos
      li: a(href="/mascotas") Gestión de mascotas e historias clínicas
      li: a(href="/usuarios") Gestión de usuarios

    h3 Información del usuario
    p Usuario: #{usuario.username}
    p Rol: #{usuario.rol}

    h4: a(href="/") Volver al login 
