doctype html
html
  head
    title Producto
  body
    h1 Producto registrado
    p Precio: $#{producto.precio}
    p Stock: #{producto.stock}
    p Categoría: #{producto.categoria}
    a(href="/productos") Volver
